*{
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

.loading{
    pointer-events: none;  
    cursor: wait; 
}

.turn{
    width: 50%;
    height: 20px;
    margin: 70px auto;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #220c39;
    color: antiquewhite;
    padding: 15px;
    font-size: 25px;
    line-height: 20px;
}

.container{
    position: relative;
    left: -40px;
    width: 50%;
    margin:  70px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
}


.cell{
    width: 100px;
    height: 100px;
    margin: 4px;
    border-radius: 7px;
    background-color: #220c39;
    line-height: 80px;
    color: antiquewhite;
    font-size: 60px;
    font-weight: 500;
    cursor: pointer;
}

.cell:hover{
    background-color: #343435;
}

button{
    position: relative;
    left: 100px;
    top: 50px;
    margin: 10px auto;
    background: #220c39;
    color: antiquewhite;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #343435;
}